<div class="container mt-5">
  <h2 class="text-center">
    About:
  </h2>
  <h4>Data of covid 19 Tracker:</h4>
  <h6> For the World Wide : <a href="https://disease.sh/v3/covid-19/all">https://disease.sh/v3/covid-19/all</a> </h6>
  <h6> For the Country Wise : <a href=" https://disease.sh/v3/covid-19/countries">https://disease.sh/v3/covid-19/countries</a> </h6>
  <h6> For the Specific Country : <a href=" https://disease.sh/v3/covid-19/countries">https://disease.sh/v3/covid-19/countries/+Country_name</a> </h6>
  <p class="text-muted">For specific country URL put country name at last.</p>
</div>